<!-- 
<form [formGroup]="AddPost" (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <label for="projectName" class="col-sm-4 col-form-label">Project Name:</label>
        <div class="col-sm-10">
            <div class="input-group">
                <select class="form-select" formControlName="projectName" id="inputGroupSelect04"
                    aria-label="Example select with button addon">
                    <option selected disabled>Select Project Name</option>
                    <option  *ngFor="let p of projectList" value="{{p.projectId}}">{{p.projectName}}</option>
                </select>
            </div>
            <div *ngIf="AddPost.get('projectName')?.touched && AddPost.get('projectName')?.hasError('required')">
                <p class="alert alert-danger">Project is mandatory</p>
            </div>
        </div>
        <div>
            <label for="description" class="col-sm-4 col-form-label">ProjectDescription:</label>
            <div class="col-sm-10">
                <input type="text" formControlName="description" class="form-control" id="prname"
                    placeholder="Enter project description  ">
            </div>
        </div>
        <div>
            <label for="minExp" class="col-sm-4 col-form-label">Min Experience:</label>
            <div class="col-sm-10">
                <input type="number" formControlName="minExp" id="minExp" name="minExp" min="1" max="10">
            </div>
        </div>
    </div>
    <input type="submit" value="AddPost" class="btn btn-primary">
</form> -->




<section class="vh-100" style="background-color: rgb(238, 238, 238);">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="color: rgb(60, 123, 206); font-style: bold" >New Post</p>
  
                  <form [formGroup]="AddPost" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label for="projectName" class="col-sm-4 col-form-label" style="font-style: italic;">Project Name:</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select class="form-select" formControlName="projectName" id="inputGroupSelect04"
                                    aria-label="Example select with button addon">
                                    <option selected disabled>Select Project Name</option>
                                    <option  *ngFor="let p of projectList" value="{{p.projectId}}">{{p.projectName}}</option>
                                </select>
                            </div>
                            <div *ngIf="AddPost.get('projectName')?.touched && AddPost.get('projectName')?.hasError('required')">
                                <p class="alert alert-danger">Project is mandatory</p>
                            </div>
                        </div>
                        <div>
                            <label for="noemp" class="col-sm-6 col-form-label" style="font-style: italic;">Project Description:</label>
                            <div class="col-sm-10">
                                <input type="text" formControlName="description" class="form-control" id="prname"
                                    placeholder="Enter project description  ">
                            </div>
                        </div>
                        <div>
                            <label for="minExp" class="col-sm-4 col-form-label" style="font-style: italic;">Min Experience:</label>
                            <div class="col-sm-10">
                                <input type="number" formControlName="minExp" id="minExp" name="minExp" min="1" max="10">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-color="dark" style="margin-top: -19%; margin-left: 58%;">Add Post</button>
                </form>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://cdn4.mindmeister.com/assets/content/home/mindmap-couple-f336ec3f159a99a977df5fbd3c1fc49e946dde2af9d5bcec035abb45f78d09cf.svg"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>