<p align="right">
    <button type="button" class="btn btn-outline-primary" style="margin-bottom: -2%; margin-right:1%;" routerLink='addpost'>ADD POST</button>
</p>
<h1 class="text-center">All the post for projects</h1>
<div class="pricing-box-container">
    <div class="pricing-box pricing-box-bg-image text-center">
        <h5>POST-DETAILS</h5>
       
        <table>
            <tbody>
                <tr *ngFor="let p of postList"><br>
            <ul class="features-list">
                <tr>
                    <li>
                        <td>PROJECT-NAME</td>
                    </li>
                    <td>{{p.projectName.projectName}}</td>
                </tr>
                <tr>
                    <li>
                        <td>DESCRIPTION:</td>
                    </li>
                    <td>{{p.description}}</td>
                </tr>
                <tr>
                    <li>
                        <td>MIN-EXP:</td>
                    </li>
                    <td>{{p.minExp}}</td>
                </tr>
                <td><button type="button" class="btn btn-primary btn-floating"  routerLink="editpost/{{p.postId}}">Edit</button>

                    <button type="button" class="btn btn-primary btn-floating" routerLink="delete/{{p.postId}}"><i class="fas fa-magic"></i>delete</button>                </td>
            </ul>
        </tbody>
        </table>
    </div>
    
        
      